@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .txt-title {
        @apply text-teal-300 text-center font-poppins;
    }
    .input-style{
        @apply p-1 text-sm bg-[#202127] rounded-sm outline outline-1 outline-teal-300 text-teal-200 focus:outline-2 focus:outline-teal-100 focus:shadow-md focus:shadow-teal-300/60;
    }
    .error-msg{
        @apply text-red-500 text-xs font-poppins mt-2;
    }
}

/* app.css */
@media (min-width: 768px) { /* Tailwind's 'md' breakpoint */
  .ml12 .letter {
    display: inline-block;
  }
}

.flicker {
    animation: textFlicker 3s infinite;
}

@keyframes textFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: 
        0px 0px 8px rgba(0, 255, 255, 0.9),
        0px 0px 16px rgba(0, 255, 255, 0.8),
        0px 0px 32px rgba(0, 255, 255, 0.75),
        0px 0px 64px rgba(0, 255, 255, 0.7),
        0px 0px 128px rgba(0, 255, 255, 0.6);
  }
  
  20%, 22%, 24%, 55% {
      text-shadow: none;
  }
  
  57%, 60%, 65% {
      text-shadow: 
        0px 0px 10px rgba(0, 255, 255, 0.9),
        0px 0px 20px rgba(0, 255, 255, 0.8),
        0px 0px 40px rgba(0, 255, 255, 0.75),
        0px 0px 80px rgba(0, 255, 255, 0.7),
        0px 0px 160px rgba(0, 255, 255, 0.6);
  }
}


  .intro .letter {
    display: inline-block;
  }
  
  .bg-pattern {
    background-image: url('../../public/svg/graph-paper.svg'); /* Path to your SVG */
    background-repeat: repeat-x; /* Repeat horizontally */
    background-size: auto; /* Keep original size */
    background-position: top; /* Align at the top */
    height: 100%; /* Cover full height of the section */
    width: 100%; /* Cover full width of the section */
    z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

#center-jack, .card {
  will-change: transform, opacity;
}



/* Terminal Styling */

/* From Uiverse.io by jeremyssocial */ 
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 12.5em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 1px solid #333;
  background-color: #030303;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  padding: 1.5em 1em;
  width: 15em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #080808;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
  border: 1px solid #333;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}
